@font-face {
  font-family:'Glyphicons Halflings';src:url(../../fonts/glyphicons-halflings-regular.eot);src:url(../../fonts/glyphicons-halflings-regulard41d.eot?#iefix) format('embedded-opentype'),url(../../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
	display: inline-block;
	border-radius: 4px;

}
div.dataTables_wrapper div.dataTables_paginate .pagination>li {
    display: inline;
}
div.dataTables_wrapper div.dataTables_paginate .pagination>li a,div.dataTables_wrapper div.dataTables_paginate .pagination>li span{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    cursor: not-allowed;
}
.form-control {
  border: 1px solid #556174;
  background: #353C48;
  padding: 6px 10px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #d0d5dc;
}
.form-control:focus{
	background-color: #353C48;
}
h3.task-name{
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #4b5465;
}